# JWT Configuration
SECRET_KEY=CHANGE_ME
SECRET_KEY_REFRESH=CHANGE_ME
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database Connection Details
DB_HOST=CHANGE_ME # Use "localhost" for local development or "db" for Docker
DB_PORT=3306
DB_NAME=lunance
DB_USER=luna
DB_PASSWORD=luna_root

# GEMINI Configuration
GEMINI_MODEL_ID=gemini-2.5-flash
GEMINI_API_KEY=CHANGE_ME
