# JWT Configuration
SECRET_KEY=CHANGE_ME
SECRET_KEY_REFRESH=CHANGE_ME
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# BANXICO API TOKEN
BANXICO_TOKEN=CHANGE_ME

AUTH0_DOMAIN=CHANGE_ME
AUTH0_AUDIENCE=CHANGE_ME

# API Configuration
ENVIRONMENT=PROD

# Database Connection Details
DB_HOST=localhost
DB_PORT=3306
DB_NAME=lunance
DB_USER=luna
DB_PASSWORD=luna_root

# AI Settings
AI_PROVIDER=provider# ollama/google-gla/anthropic
AI_MODEL_ID=model_id# gemini-3-flash-preview/kimi-k2.5:cloud/gemma4:31b-cloud
AI_API_KEY=CHANGE_ME
# BASE_URL informations
#Specific value for the Ollama provider (optional).
AI_BASE_URL=https://ollama.com/v1

# Logging Configuration
# LOG_PROVIDER options:
# - console: Console logging
# - grafana: Grafana Loki logging
# - file: File logging
# - hybrid: Hybrid console and Grafana Loki logging
LOG_PROVIDER=console
LOG_LEVEL=INFO
# Log format supported
# Text or Json
LOG_FORMAT=text

# Grafana Loki Configuration
# NOTE: This is only used if LOG_PROVIDER is set to "grafana" or "hybrid"
LOKI_URL=CHANGE_ME
LOKI_USERNAME=CHANGE_ME
LOKI_PASSWORD=CHANGE_ME
LOKI_APP_NAME=lunance
LOKI_ENV=development
